body {
    background-color: #eee;
    margin-left: 60px;
    margin-right: 60px;
    font-family: "Roboto"
}

h1 {
    color: #444;
    text-align: center;
    font-family: "Roboto"
}

h3 {
    margin-left: 20px;
    margin-right: 20px;
    font-family: "Roboto"
}

.project-description {
	margin-left: 40px;
}

.profileImage {
    border-style: solid;
    border-width: 5px;
    border-color: #888;
}




#nav {
    display: table;
    height: 87px;
    width: 100%;
}

#nav li {
    display: table-cell;
    height: 87px;
    width: 16.666666667%;  /* (100 / numItems)% */
    line-height: 87px;
    text-align: center;
    background: #ddd;
    border-right: 1px solid #fff;
    white-space: nowrap;
}​

@media (max-width: 767px) {
    #nav li {
        display: block;
        width: 100%;
    }
}

#nav2 {
    display: table;
    height: 30px;
    width: 600px;
}

#nav2 li {
    display: table-cell;
    height: 30px;
    width: 40px;  /* (100 / numItems)% */
    line-height: 30px;
    text-align: center;
    background: #ddd;
    border-right: 1px solid #fff;
    white-space: nowrap;
}​

@media (max-width: 767px) {
    #nav2 li {
        display: block;
        width: 40px;
    }
}

.schoolListItem
{
    list-style-type: none;
}




